.form {
  /* border: 1px solid gainsboro; */
  /* margin-top: 5px; */
  padding: 15px 0;
}
/* input,
.text-upper {
  text-transform: uppercase;
} */

.flex-row-forms {
  display: flex;
  justify-content: space-between;
}

.flex-form {
  flex-basis: 45%;
}

.addform {
  border: 1px solid green;
}
